doctype html
html
  head
    title="Real time web chat"
    meta(name='viewport' content='width=device-width,initial-scale=1')
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

  body
    div.container-fluid
      div.row(style='margin-top: 10px')
        div.col-xs-12.col-md-12
          #content(style='overflow-y: scroll; border: solid 3px black; height:90vh; border-radius: 10px; padding: 10px')
      div.row(style='margin-top: 10px')
        div.col-md-2
          input.field(id='username' class="form-control" placeholder='Enter your name')
        div.col-md-9
          input.field(id='field' class="form-control" placeholder='Enter your message')
        div.col-md-1
          input.send(type='button', value='Send', id='send' class='btn btn-primary btn-block')
